body{
	-webkit-text-stroke: 1px #000;
	-moz-text-stroke: 1px #000;
	background-color: #009e8e;
	color: #FFF;
	font-family: 'Crete Round', serif;
	z-index: -1;
}

.help{
	float:right;
	position: fixed;
	text-align: center;
	padding-top: 4px;
	vertical-align: middle;
	font-size: 32px;
	height:46px;
	width:50px;
	background-color: #FFFF47;
	z-index: 1;

	-webkit-transition: all 1s ease-in-out 0s;
}

.help:hover{
	-webkit-transition-property: width, height, background;
	-webkit-transition-duration: 1s, 1s, 1s;

	width: 500px;
	height: 500px;
	background-color: blue;
}

.nohover{
	-webkit-transition: all 1s ease-in-out 0s;
	display: inline;
}

.help:hover .nohover{
	-webkit-transition-property: display;
	-webkit-transition-duration: 1s;
	display: none;

}

.hover{
	display: none;
	-webkit-transition: all 4s ease-in-out 0s;
}

.help:hover .hover{
	-webkit-transition-property: display, font-size, text-align;
	-webkit-transition-duration: 1s, 1s, 1s;
	-webkit-transition-delay: 3s, 3s, 3s;

	text-align: left;
	font-size: 20pt;
	display:inline;
}

#mycanvas{
	position:absolute;
	top:50px;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	z-index:-1;
}

.header{
	-webkit-text-stroke: 2px #000;
	-moz-text-stroke: 2px #000;
	color: #FFF;
	z-index:100;
	font-size: 72px;
	text-align:center;

	margin-left: auto;
	margin-right:auto;
}

.top_bar{
	width: 800px;
	position:relative;
	top:-20px;
	height: 30px;
	margin-left: auto;
	margin-right:auto;
}

ul{
	list-style: none;
	text-align:center;
	font-size: 25px;
	clear:both;
	position:relative;
	top:-20px;
}

ul div{
	float:left;
	margin-left: 50px;
	color: #043731;
	display: inline;
}
.nav a:link {
	text-decoration: none;
	padding:5px;
}
.nav a:hover {
	color: #FF6;
}

#prefs{
	position: relative;
	top: 100px;
	width:800px;
	margin-left: auto;
	margin-right:auto;
}

#prefs input {        
	width:800px;
	border-radius: 10px;
	height:40px;
	padding-left: 10px;
	font-size:25px;
	border: 1px solid #CDCDCD;
	text-align: center;
	color: #043731;
	font-family: 'Crete Round', serif;
	-webkit-text-stroke: 0px;
	-moz-text-stroke: 0px;
}

#inputs{
	position: absolute;
	top: 100px;
	left: 10px;
	width: 200px;
}

#personal{
	position: relative;
	top: 100px;
}


#personal .result{
	background-color: 043731;
	width:800px;	
	height: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right:auto;
	border-radius: 10px;
	color: white;
	-moz-box-shadow:    0px 1px  5px 2px #043731;
	-webkit-box-shadow:    0px 1px  5px 2px #043731;
	box-shadow:    0px 1px  5px 2px #043731;
}

#results{
	position: relative;
	top: 100px;
}

#results .result{
	background-color: white;
	width:800px;	
	height: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right:auto;
	border-radius: 10px;
	color: #043731;
	-moz-box-shadow:    0px 1px  5px 2px #043731;
	-webkit-box-shadow:    0px 1px  5px 2px #043731;
	box-shadow:    0px 1px  5px 2px #043731;
}

#results .result:active{
	position: relative;
    top: 2px;
	-moz-box-shadow:    0px 1px  3px 0px #043731;
	-webkit-box-shadow:    0px 1px  3px 0px #043731;
	box-shadow:    0px 1px  3px 0px #043731;
}


.result img{
	position: relative;
	top: 25px;
	left: 25px;
	height: 100px;
	width: 67px;
	display: inline-block;
}

.result h1{
	position: relative;
	top:-100px;
	left: 100px;
	overflow: hidden;
	height:45px;
	width:650px;
}
.result h2{
	position: relative;
	top:-120px;
	right: -600px;
}
.result h3{
	position: relative;
	top:-130px;
	left: 100px;
}
